@model Buytech.Eticaret.Core.Model.Entity.ProductDetail

<h2>Ürün Detaylarını Sil</h2>

<h3>Silmek istediğinize emin misiniz?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Ürün Adı
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Name)
        </dd>

        <dt>
            Detay Başlık 1
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DetailTitle1)
        </dd>

        <dt>
            Detay 1
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detail1)
        </dd>

        <dt>
            Detay Başlık 2
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DetailTitle2)
        </dd>

        <dt>
            Detay 2
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detail2)
        </dd>

        <dt>
            Detay Başlık 3
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DetailTitle3)
        </dd>

        <dt>
            Detay 3
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detail3)
        </dd>

        <dt>
            Detay Başlık 4
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DetailTitle4)
        </dd>

        <dt>
            Detay 4
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detail4)
        </dd>

        <dt>
            Detay Başlık 5
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DetailTitle5)
        </dd>

        <dt>
            Detay 5
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detail5)
        </dd>

        <dt>
            Detay Başlık 6
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DetailTitle6)
        </dd>

        <dt>
            Detay 6
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detail6)
        </dd>

        <dt>
            Detay Başlık 7
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DetailTitle7)
        </dd>

        <dt>
            Detay 7
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detail7)
        </dd>

        <dt>
            Detay Başlık 8
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DetailTitle8)
        </dd>

        <dt>
            Detay 8
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detail8)
        </dd>

        <dt>
            Detay Başlık 9
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DetailTitle9)
        </dd>

        <dt>
            Detay 9
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detail9)
        </dd>

        <dt>
            Detay Başlık 10
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DetailTitle10)
        </dd>

        <dt>
            Detay 10
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detail10)
        </dd>

        <dt>
            Detay Başlık 11
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DetailTitle11)
        </dd>

        <dt>
            Detay 11
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detail11)
        </dd>

        <dt>
            Detay Başlık 12
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DetailTitle12)
        </dd>

        <dt>
            Detay 12
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detail12)
        </dd>

        <dt>
            Detay Başlık 13
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DetailTitle13)
        </dd>

        <dt>
            Detay 13
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detail13)
        </dd>

        <dt>
            Detay Başlık 14
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DetailTitle14)
        </dd>

        <dt>
            Detay 14
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detail14)
        </dd>

        <dt>
            Detay Başlık 15
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DetailTitle15)
        </dd>

        <dt>
            Detay 15
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detail15)
        </dd>

        <dt>
            Detay Başlık 16
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DetailTitle16)
        </dd>

        <dt>
            Detay 16
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detail16)
        </dd>

        <dt>
            Kayıt Tarihi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            Güncelleme Tarihi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-default" /> |
            @Html.ActionLink("Geri Dön", "Index")
        </div>
    }
</div>
